{% macro render_date(date, events=[], is_today=False, is_other_month=False) %}
<div class="date-cell {% if is_today %}today{% endif %} 
            {% if is_other_month %}other-month{% endif %}"
     data-date="{{ date.strftime('%Y-%m-%d') }}">
    <div class="date-number">
        {{ date.day }}
        <small class="lunar-date">{{ get_lunar_date(date) }}</small>
    </div>
    <div class="events-container">
        {% for event in events %}
        <div class="event-item" 
             style="background-color: {{ event.category.color }}"
             data-event-id="{{ event.id }}">
            {{ event.title }}
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}